Build/
Temp/
gcm.cache/
*.exe
Scripts/RgbDisplay/OpenGlDep/
Scripts/RgbDisplay/test.rgb
Scripts/RgbDisplay/V.cpp
Src/**/*.hpp
Src/**/*.zzh
__pycache__
*.tmp.*
.zzc.cache.json
Targets/**/include/inner/
*.zip
Makefile
.zzc.config.json
